{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description %}
{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description_cart %}
{% from "erpnext/templates/includes/macros.html" import product_image_square %}

{% for d in doc.items %}
<tr class="cart-items-row" data-item-code="{{d.item_code}}">
    <td class="text-center" style="vertical-align: middle;">
        {{d.idx}}
    </td>
    <td style="vertical-align: middle;">
        <input class="form-control text-right cart-qty" value="{{ d.get_formatted('qty') }}"
                    data-item-code="{{ d.item_code }}" style="border:0;">
    </td>
    <td class="text-center">
        <div class="cart-product-image" data-cart-image="{{d.website_image}}">
            {{product_image_square(d.thumbnail,"cart-item-image")}}
        </div>
    </td>
    <td class="" style="vertical-align: middle;">
        {{d.item_name}}
    </td>
    <td style="vertical-align: middle;">
        <select class="form-control small cart-uom" data-item-code="{{ d.item_code }}" style="border:0;cursor: pointer;">
            {% set item = frappe.get_cached_doc("Item", d.item_code) %}
            {% for p in item.uoms %}
                <option value="{{ p.uom }}" {% if d.uom == p.uom %} selected="1"{% endif %}>{{ _(p.uom) }}</option>
            {% endfor %}
        </select>
    </td>
    <td class="text-right" style="vertical-align: middle;">
        {{d.get_formatted("alt_uom_size")}}
        <span class="text-muted small">{{d.alt_uom}}</span>
    </td>
    <td class="text-right" style="vertical-align: middle;">
        {{ d.get_formatted("rate") }}
    </td>
    <td class="text-right" style="vertical-align: middle;">
        {{ d.get_formatted("amount") }}
    </td>
    <td style="vertical-align: middle;">
        {% if 'hst' in d.item_tax_template|lower %}
            <i class="fa fa-check"></i>
        {% endif %}
    </td>
    <td style="vertical-align: middle;">
        <i class="fa fa-close remove-cart-item" data-item-code="{{d.item_code}}" style="color:red;cursor: pointer;"></i>
    </td>
</tr>
{% endfor %}