{% extends "templates/web.html" %}

{% block title %} {{ _("Default Items")}} {% endblock %}

{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description %}

{% block header %}<h2>{{ _("Default Items") }}</h2>{% endblock %}

{% block script%}
<script>{% include "templates/includes/product_list.js" %}</script>
<script>{% include "www/default_items.js" %}</script>
<script type="text/javascript" src="/assets/js/dialog.min.js"></script>
<script type="text/javascript" src="/assets/js/control.min.js"></script>
<script type="text/javascript" src="/assets/js/moment-bundle.min.js"></script>
<script type="text/javascript" src="/assets/js/web-extended.min.js"></script>
{% endblock %}

{% block header_actions %}
<button class="btn btn-primary btn-sm btn-add-items" type="button">
    {{ _("Add Items") }}
</button>
{% endblock %}

{% block page_content %}
<div class="default-container">
    <div class="default-item-table" style="margin-top: 50px;">
        <div class="default-item-header" style="border-bottom: 1px solid #d1d8dd;margin-bottom: 15px;">
            <div class="row h6 text-uppercase text-muted">
                <div class="col-sm-6">
                    {{ _("Item") }}
                </div>
                <div class="col-sm-2 text-center">
                    {{ _("UOM") }}
                </div>
                <div class="col-sm-2 text-right">
                    {{ _("Per Unit") }}
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <div id="default-items">
            {% for item in default_items %}
                {% include "erpnext/www/default-item-row.html" %}
            {% endfor %}
        </div>
    </div>
</div>
<button class="btn btn-primary btn-sm btn-add-items" type="button" style="float: right; margin-bottom: 15px;">
    {{ _("Add Items") }}
</button>
{% endblock %}