{% extends "templates/web.html" %}

{% block title %} {{ _("Products")}} {% endblock %}

{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description %}
{% from "erpnext/templates/includes/macros.html" import product_image_square %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}<h2>{{ _("Products") }}</h2>{% endblock %}

{% block script%}
<script>{% include "templates/includes/product_list.js" %}</script>
<script>{% include "erpnext/www/product_list.js" %}</script>
{% endblock %}

{% block style %}
<style>
.product-item-image{
	width: 100% !important;
	height: 50px !important;
	padding: 0 !important;
	background-size: contain !important;
    cursor: pointer;
}
</style>
<style>
{% include "templates/includes/magnifier.css" %}
</style>
{% endblock %}

{% block header_actions %}

{% endblock %}

{% block page_content %}
<div class="table-responsive margin-top">
    {% for item_group in item_group_map.keys() %}
    <table class="table table-bordered">
        <thead>
            <tr style="color: #8d99a6;font-size: 12px;background-color: #f7fafc;">
                <th scope="col" class="text-center" colspan="7">{{ item_group }}</th>
            </tr>
            <tr style="color: #8d99a6;font-size: 12px;background-color: #f7fafc;">
                <th scope="col" style="width: 5% !important;"></th>
                <th scope="col" class="text-center" style="width: 10% !important;">{{ _("Quantity") }}</th>
                <th scope="col" class="text-center" style="width: 10% !important;">{{ _("Image") }}</th>
                <th scope="col" class="" style="width: 25% !important;">{{ _("Item Name") }}</th>
                <th scope="col" class="text-center" style="width: 15% !important;">{{ _("UOM") }}</th>
                <th scope="col" class="text-right" style="width: 10% !important;">{{ _("Per Unit") }}</th>
                <th scope="col" class="text-right" style="width: 10% !important;">{{ _("Rate") }}</th>
            </tr>
        </thead>
        <tbody class="product-items" style="font-size: 12px !important;">
                {% for item in item_group_map.get(item_group) %}
                    <tr class="product-items-row">
                        <td class="text-center" style="vertical-align: middle;">
                        </td>
                        <td style="vertical-align: middle;">
                            <input class="form-control text-center product-qty" value="{{frappe.format(item.get('qty')) or 0}}"
                            data-item-code="{{ item.item_code }}">
                        </td>
                        <td class="text-center">
                            <div class="product-page-image" data-item-image="{{ item.website_image or item.image or '' }}">
                                {{product_image_square(item.thumbnail or item.website_image or item.image, "product-item-image")}}
                            </div>
                        </td>
                        <td class="" style="vertical-align: middle;">
                            <a href="{{ item.route }}">{{item.item_name}}</a>
                        </td>
                        <td style="vertical-align: middle;">
                            {{item.stock_uom}}
                        </td>
                        <td class="text-right" style="vertical-align: middle;">
                            {{frappe.format(item.alt_uom_size)}}
                            <span class="text-muted small">{{item.alt_uom}}</span>
                        </td>
                        <td class="text-right" style="vertical-align: middle;">
                            {{ item.formatted_price or '0.00' }}
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
<div id="myModal" class="modal zoom_modal">
    <span class="close">&times;</span>
    <img class="modal-img-content" id="img01">
</div> 
{% endblock %}