{% extends "templates/web.html" %}

{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description %}
{% from "erpnext/templates/includes/macros.html" import product_image_square %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}<h2>{{ title }}</h2>{% endblock %}

{% block script%}
<script>{% include "templates/includes/product_list.js" %}</script>
<script>{% include "erpnext/www/product_list.js" %}</script>
{% endblock %}

{% block style %}
<style>
.product-item-image{
	width: 100% !important;
	height: 50px !important;
	padding: 0 !important;
	background-size: contain !important;
    cursor: pointer;
}
</style>
<style>
{% include "templates/includes/magnifier.css" %}
</style>
{% endblock %}

{% block header_actions %}

{% endblock %}

{% block page_content %}
<div class="table-responsive margin-top">
    {% for item_group in item_group_map.keys() %}
    <table class="table table-bordered">
        <thead>
            <tr style="color: #8d99a6;font-size: 12px;background-color: #f7fafc;">
                <th scope="col" class="text-center" colspan="8">{{ item_group }}</th>
            </tr>
            <tr style="color: #8d99a6;font-size: 12px;background-color: #f7fafc;">
                <th scope="col" style="width: 5% !important;"></th>
                <th scope="col" class="text-center" style="width: 10% !important;">{{ _("Image") }}</th>
                <th scope="col" class="" style="width: 30% !important;">{{ _("Item Name") }}</th>
                <th scope="col" class="text-center" style="width: 15% !important;">{{ _("Country") }}</th>
                <th scope="col" class="text-center" style="width: 10% !important;">{{ _("Quantity") }}</th>
                <th scope="col" class="text-center" style="width: 10% !important;">{{ _("UOM") }}</th>
                <th scope="col" class="text-right" style="width: 10% !important;">{{ _("Per Unit") }}</th>
                <th scope="col" class="text-right" style="width: 10% !important;">{{ _("Rate") }}</th>
            </tr>
        </thead>
        <tbody class="product-items" style="font-size: 12px !important;">
            {% for item in item_group_map.get(item_group) %}
                {% include 'erpnext/www/product-list-row.html' %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
<div id="myModal" class="modal zoom_modal">
    <span class="close">&times;</span>
    <img class="modal-img-content" id="img01">
</div> 
{% endblock %}